@use './../utilities/mixins' as mix;
@use './../utilities/constants' as const;

.section-sticky {
  @include mix.column-flexbox(end, start);
  position: relative;
  height: 100vh;

  .deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @at-root {
      & .is-step-0 .deco .deco-item {
        background-image: url('./../assets/images/img-main-deco-1.png');
      }

      & .is-step-1 .deco .deco-item {
        background-image: url('./../assets/images/img-main-deco-2.png');
      }

      & .is-step-2 .deco .deco-item {
        background-image: url('./../assets/images/img-main-deco-3.png');
      }
    }

    .deco-item {
      position: absolute;
      background: url('./../assets/images/img-main-deco-1.png') no-repeat 0 0;
      background-size: 100% auto;

      &:nth-child(1) {
        top: -(mix.vw-sm(65px));
        left: -(mix.vw-sm(160px));
        width: mix.vw-sm(305px);
        height: mix.vw-sm(306px);
        filter: blur(2px);
      }

      &:nth-child(2) {
        top: mix.vw-sm(55px);
        left: mix.vw-sm(110px);
        width: mix.vw-sm(505px);
        height: mix.vw-sm(506px);
      }

      &:nth-child(3) {
        top: mix.vw-sm(250px);
        right: -(mix.vw-sm(105px));
        width: mix.vw-sm(325px);
        height: mix.vw-sm(326px);
        transform: rotate(20deg);
      }
    }
  }

  .title {
    h3 {
      font-size: 12px;
      font-weight: 400;
      color: mix.$font-color;
    }

    svg {
      width: 500px;
      font-family: const.$font-bold;
      font-size: 45px;

      text {
        stroke: mix.$font-color;
      }

      text.is-active {
        fill: mix.$font-color;
      }
    }
  }

  .detail {
    width: 100%;
    padding-bottom: 130px;
    margin-top: 50px;

    ul {
      li {
        padding: 6px 0;
        font-size: 16px;
        color: mix.$font-color;
        border-bottom: 1px solid mix.$border-color;
      }
    }

    p {
      margin-top: 16px;
      font-size: 12px;
      color: mix.$font-color;
    }
  }

  @include mix.responsive(T) {
    @include mix.flexbox(center);
    flex-direction: row;
    margin-top: 160px;

    .deco {
      .deco-item {
        &:nth-child(1) {
          top: -(mix.vw-md(108px));
          left: mix.vw-md(64px);
          width: mix.vw-md(275px);
          height: mix.vw-md(276px);
          filter: blur(8px);
        }

        &:nth-child(2) {
          top: -(mix.vw-md(115px));
          right: mix.vw-md(25px);
          left: auto;
          width: mix.vw-md(345px);
          height: mix.vw-md(346px);
        }

        &:nth-child(3) {
          inset: auto auto (-(mix.vw-md(87px))) mix.vw-md(41px);
          width: mix.vw-md(345px);
          height: mix.vw-md(346px);
        }

        &:nth-child(4) {
          right: mix.vw-md(67px);
          bottom: -(mix.vw-md(20px));
          width: mix.vw-md(275px);
          height: mix.vw-md(276px);
          filter: blur(8px);
          transform: rotate(30deg);
        }
      }
    }

    .title {
      height: mix.vw-md(290px);

      h3 {
        font-size: 14px;
      }

      svg {
        width: mix.vw-md(800px);
      }
    }

    .detail {
      width: 510px;
      height: mix.vw-md(290px);
      margin-top: 0;
      margin-right: 50px;

      h3 {
        font-size: 14px;
        font-weight: 400;
        color: mix.$font-color;
      }

      ul {
        margin-top: mix.vw-md(25px);

        li {
          font-size: mix.vw-md(16px);
        }
      }

      p {
        margin-top: mix.vw-md(20px);
        font-size: mix.vw-md(12px);
      }
    }
  }
}
