/* breakpoints */
$md-breakpoint: 768px;
$lg-breakpoint: 1280px;

/* colors */
$black: #000;
$white: #fff;
$button: #fffcf4;
$border: #e2e8f0;
$primary: #5c79e5;
$secondary: #2d4ab3;

/* margins */
$margin-sm: 20px;
$margin-md: 40px;

/* typography */
$font-main: 'Open Sans', '돋움', dotum, helvetica, 'Apple SD Gothic Neo', sans-serif, serif;
$font-bold: 'Secular One', sans-serif;

/* z-indexes */
$cursor-level: 30;
$gnb-level: 20;
$scene-level: 10;
