.section-marquee {
  margin: 0 -#{$margin-sm};
  overflow: hidden;

  &-inner {
    @include flexbox(start);
  }

  p {
    font-family: $font-bold;
    font-size: 16px;
    color: $font-color;
    white-space: nowrap;
  }

  @include responsive(T) {
    margin: 0 -#{vw-md($margin-md)};

    p {
      font-size: vw-md(20px);
    }
  }
}
