.section-card {
  position: relative;

  &-title {
    padding-left: 20px;

    h3 {
      font-size: 30px;
      color: $font-color;
    }

    p {
      font-size: 12px;
      color: $font-color;
    }
  }

  &-list {
    @include column-flexbox;
    gap: 80px 0;
    padding-top: 80px;
  }

  &-item {
    width: vw-sm(420px);
    border: 2px solid $card-color;
    border-radius: 10px;

    &:nth-child(1) {
      transform: rotate(5deg);
    }

    &:nth-child(2) {
      transform: rotate(5deg);
    }

    &:nth-child(3) {
      transform: rotate(-5deg);
    }

    &:nth-child(4) {
      transform: rotate(5deg);
    }

    &:nth-child(5) {
      transform: rotate(5deg);
    }
  }

  &-review {
    height: 250px;
    padding: 15px 10px;

    .rating {
      width: 100px;
      padding-left: 4px;

      .star-item {
        fill: #000;
      }

      .star-item.is-half {
        fill: url(#shape-star-half);
      }

      .star-item.is-empty {
        fill: none;
      }
    }

    .txt {
      margin-top: 16px;
      font-size: 16px;
      color: $font-color;
    }
  }

  &-user {
    @include flexbox(start);
    padding: 5px 10px;
    border-top: 2px solid $card-color;

    .icon {
      width: 30px;
    }

    .name {
      margin-left: 4px;
      font-size: 12px;
      color: $font-color;
    }
  }

  @include responsive(T) {
    padding: 0;

    &-title {
      position: absolute;
      top: -#{vw-md(210px)};
      right: vw-md(160px);

      h3 {
        font-size: vw-md(34px);
      }

      p {
        margin-top: vw-md(20px);
        font-size: vw-md(16px);
      }
    }

    &-list {
      flex-direction: row-reverse;
      flex-wrap: wrap;
      gap: vw-md(80px) vw-md(450px);
      padding-top: vw-md(80px);
    }

    &-item {
      width: vw-md(300px);

      &:nth-child(1) {
        margin-left: vw-md(700px);
        transform: rotate(-5deg);
      }

      &:nth-child(2) {
        transform: rotate(0);
      }

      &:nth-child(4) {
        transform: rotate(-8deg);
      }
    }

    &-review {
      height: vw-md(150px);
      padding: vw-md(15px) vw-md(10px);

      .rating {
        width: vw-md(100px);
        padding-left: vw-md(4px);
      }

      .txt {
        margin-top: vw-md(8px);
        font-size: vw-md(16px);
      }
    }

    &-user {
      padding: vw-md(10px);

      .name {
        margin-left: wv-md(4px);
        font-size: vw-md(12px);
      }
    }
  }
}
