.section-circle {
  @include flexbox;
  width: vw-sm(650px);
  height: vw-sm(650px);
  margin: 0 auto;
  border: 2px solid $card-color;
  border-radius: 100%;

  p {
    font-family: $font-bold;
    font-size: vw-sm(50px);
    line-height: vw-sm(48px);
    color: $font-color;

    span {
      display: inline-block;
      width: vw-sm(50px);
    }
  }

  @include responsive(T) {
    width: vw-md(600px);
    height: vw-md(600px);
    margin: 0;
    border-width: vw-md(2px);

    p {
      font-size: vw-md(70px);
      line-height: vw-md(68px);
    }
  }
}
