<footer class='footer'>
  <div class='section-marquee'>
    <div class='section-marquee-inner' data-marquee='left'>
      <p>
        • NULLAM DICTUM FELIS EU PEDE MOLLIS PRETIUM • AENEAN MASSA. CUM SOCIIS NATOQUE • NULLAM DICTUM FELIS EU PEDE
        MOLLIS PRETIUM •DONEC QUAM FELIS • ULTRICIES NEC, PELLENTESQUE EU, PRETIUM QUIS • NULLAM DICTUM FELIS EU PEDE
        MOLLIS PRETIUM • EU PEDE MOLLIS PRETIUM • EGET, ARCU. IN ENIM
      </p>
    </div>
    <div class='section-marquee-inner' data-marquee='right'>
      <p>
        • NULLAM DICTUM FELIS EU PEDE MOLLIS PRETIUM • AENEAN MASSA. CUM SOCIIS NATOQUE • NULLAM DICTUM FELIS EU PEDE
        MOLLIS PRETIUM •DONEC QUAM FELIS • ULTRICIES NEC, PELLENTESQUE EU, PRETIUM QUIS • NULLAM DICTUM FELIS EU PEDE
        MOLLIS PRETIUM • EU PEDE MOLLIS PRETIUM • EGET, ARCU. IN ENIM
      </p>
    </div>
  </div>

  <a class='btn-shop' href='/'>
    PED
    <br />
    PRETIUM
    <i aria-hidden='true'>
      <svg viewBox='0 0 100 100'>
        <g fill='none'>
          <circle class='st0' cx='50' cy='50' r='46' />
          <line class='st1' x1='29.8' y1='70.1' x2='70.7' y2='29.2' />
          <line class='st2' x1='31.3' y1='29.3' x2='70.7' y2='29.3' />
          <line class='st2' x1='70.7' y1='29.3' x2='70.7' y2='68.3' />
        </g>
      </svg>
    </i>
  </a>

  <div class='footer-content'>
    <nav class='fnb'>
      <ul>
        <li><a href='/'>MOLLIS</a></li>
        <li><a href='/'>PEDE</a></li>
        <li><a href='/'>LIGULA</a></li>
      </ul>
      <ul>
        <li><a href='/'>DOLOR</a></li>
        <li><a href='/'>MONTES</a></li>
        <li><a href='/'>DIS</a></li>
      </ul>
      <ul>
        <li><a href='/'>JUSTO</a></li>
        <li><a href='/'>FELIS</a></li>
        <li><a href='/'>ULTRICIES</a></li>
      </ul>
    </nav>

    <div class='contact'>
      <p class='txt'>pellentesque eu, pretium quis, sem. Nulla</p>
      <p class='number'>000 - 0000 - 0000</p>
    </div>

    <div class='info'>
      <h3 class='logo'>
        <a href='/'>
          <svg xmlns='http://www.w3.org/2000/svg' width='290' height='100' viewBox='0 -20 290 100'>
            <g class='logo-main'>
              <path
                d='M 31.98 20.461 L 31.98 20.701 A 11.643 11.643 0 0 1 35.78 22.245 Q 39.84 24.897 39.84 31.021 A 11.21 11.21 0 0 1 39.34 34.417 A 9.812 9.812 0 0 1 38.25 36.751 Q 36.66 39.241 33.9 40.621 A 13.231 13.231 0 0 1 28.352 41.992 A 15.489 15.489 0 0 1 27.84 42.001 L 0 42.001 L 0 0.721 L 27.48 0.721 Q 30.6 0.721 33.21 2.011 Q 35.82 3.301 37.35 5.641 Q 38.88 7.981 38.88 10.861 Q 38.88 17.937 32.929 20.15 A 13.063 13.063 0 0 1 31.98 20.461 Z M 13.26 25.321 L 13.26 32.401 L 23.34 32.401 A 3.065 3.065 0 0 0 24.53 32.175 A 2.877 2.877 0 0 0 25.53 31.471 A 3.197 3.197 0 0 0 26.392 29.416 A 4.187 4.187 0 0 0 26.4 29.161 L 26.4 28.561 A 3.605 3.605 0 0 0 26.209 27.366 A 3.124 3.124 0 0 0 25.53 26.251 A 2.854 2.854 0 0 0 23.463 25.323 A 3.659 3.659 0 0 0 23.34 25.321 L 13.26 25.321 Z M 13.26 9.781 L 13.26 16.801 L 22.38 16.801 A 3.065 3.065 0 0 0 23.57 16.575 A 2.877 2.877 0 0 0 24.57 15.871 A 3.197 3.197 0 0 0 25.432 13.816 A 4.187 4.187 0 0 0 25.44 13.561 L 25.44 12.961 Q 25.44 11.641 24.54 10.711 A 3.038 3.038 0 0 0 23.486 9.987 A 2.942 2.942 0 0 0 22.38 9.781 L 13.26 9.781 Z'
                id='0'
                vector-effect='non-scaling-stroke'
              />
            </g>
            <g class='logo-main'>
              <path
                d='M 73.685 0.589 A 33.549 33.549 0 0 0 67.2 0.001 A 38.829 38.829 0 0 0 64.804 0.073 Q 61.306 0.289 58.393 1.154 A 18.845 18.845 0 0 0 50.73 5.431 A 16.297 16.297 0 0 0 48.143 8.546 Q 46.319 11.396 45.534 15.154 A 30.364 30.364 0 0 0 44.94 21.361 A 35.801 35.801 0 0 0 44.983 23.123 Q 45.436 32.326 50.73 37.291 Q 54.62 40.939 60.718 42.136 A 33.679 33.679 0 0 0 67.2 42.721 A 38.674 38.674 0 0 0 69.567 42.65 Q 73.024 42.438 75.914 41.59 A 18.985 18.985 0 0 0 83.7 37.261 A 16.484 16.484 0 0 0 86.137 34.385 Q 89.52 29.32 89.52 21.361 A 35.467 35.467 0 0 0 89.486 19.792 Q 89.338 16.456 88.55 13.667 A 17.517 17.517 0 0 0 83.7 5.461 Q 79.79 1.792 73.685 0.589 Z M 58.5 19.441 L 58.5 23.281 A 14.014 14.014 0 0 0 58.774 26.138 Q 59.28 28.568 60.72 30.241 Q 62.928 32.807 67.155 32.821 A 13.992 13.992 0 0 0 67.2 32.821 Q 71.08 32.821 73.292 30.681 A 7.146 7.146 0 0 0 73.71 30.241 A 8.75 8.75 0 0 0 75.574 26.599 Q 75.912 25.282 75.954 23.729 A 16.519 16.519 0 0 0 75.96 23.281 L 75.96 19.441 Q 75.96 15.061 73.71 12.481 A 7.266 7.266 0 0 0 69.793 10.182 A 11.249 11.249 0 0 0 67.2 9.901 A 11.221 11.221 0 0 0 64.624 10.179 Q 62.664 10.641 61.312 11.872 A 6.973 6.973 0 0 0 60.72 12.481 A 8.771 8.771 0 0 0 58.896 16.062 Q 58.556 17.376 58.508 18.927 A 16.664 16.664 0 0 0 58.5 19.441 Z'
                id='1'
                vector-effect='non-scaling-stroke'
              />
            </g>
            <g class='logo-main'>
              <path
                d='M 132.36 11.281 L 118.86 11.281 L 118.86 42.001 L 105.6 42.001 L 105.6 11.281 L 92.04 11.281 L 92.04 0.721 L 132.36 0.721 L 132.36 11.281 Z'
                id='2'
                vector-effect='non-scaling-stroke'
              />
            </g>
            <g class='logo-main'>
              <path
                d='M 175.68 11.281 L 162.18 11.281 L 162.18 42.001 L 148.92 42.001 L 148.92 11.281 L 135.36 11.281 L 135.36 0.721 L 175.68 0.721 L 175.68 11.281 Z'
                id='3'
                vector-effect='non-scaling-stroke'
              />
            </g>
            <g class='logo-main'>
              <path
                d='M 181.74 42.001 L 181.74 0.721 L 195 0.721 L 195 31.441 L 216.18 31.441 L 216.18 42.001 L 181.74 42.001 Z'
                id='4'
                vector-effect='non-scaling-stroke'
              />
            </g>
            <g class='logo-main'>
              <path
                d='M 221.76 42.001 L 221.76 0.721 L 257.46 0.721 L 257.46 10.621 L 235.02 10.621 L 235.02 16.321 L 254.22 16.321 L 254.22 25.801 L 235.02 25.801 L 235.02 32.101 L 257.88 32.101 L 257.88 42.001 L 221.76 42.001 Z'
                id='5'
                vector-effect='non-scaling-stroke'
              />
            </g>
          </svg>
        </a>
      </h3>
      <span class='copyright'>ⓒ9999</span>
    </div>
  </div>
</footer>