@use './../utilities/mixins' as mix;
@use './../utilities/constants' as const;

.footer {
  padding: calc(const.$margin-sm / 2) const.$margin-sm;

  .btn-shop {
    display: inline-block;
    margin-top: mix.vw-sm(60px);
    font-family: const.$font-bold;
    font-size: mix.vw-sm(100px);
    line-height: mix.vw-sm(74px);
    color: mix.$font-color;
    letter-spacing: -0.063em;

    i {
      display: inline-block;
      width: mix.vw-sm(40px);

      svg {
        stroke: mix.$border-color;
        stroke-width: 4px;
      }
    }
  }

  .fnb {
    @include mix.flexbox(start);
    flex-wrap: wrap;
    gap: mix.vw-sm(50px) 0;
    margin-top: mix.vw-sm(60px);

    ul {
      width: 50%;

      li {
        margin-top: mix.vw-sm(20px);

        &:first-child {
          margin-top: 0;
        }

        a {
          display: inline-block;
          font-size: mix.vw-sm(34px);
          color: mix.$font-color;

          &::after {
            display: block;
            width: 0;
            height: 1px;
            content: '';
            background-color: mix.$font-color;
          }

          &:active::after {
            width: 100%;
          }
        }
      }
    }
  }

  .contact {
    margin-top: mix.vw-sm(100px);

    .txt {
      font-size: mix.vw-sm(34px);
      color: mix.$font-color;
    }

    .number {
      width: 100%;
      margin-top: mix.vw-sm(20px);
      font-family: const.$font-bold;
      font-size: mix.vw-sm(64px);
      line-height: mix.vw-sm(130px);
      color: mix.$font-color;
      text-align: center;
      border: 2px solid mix.$border-color;
      border-radius: mix.vw-sm(10px);
    }
  }

  .info {
    @include mix.flexbox(between);
    margin-top: 80px;

    .logo {
      width: 150px;

      svg {
        fill: mix.$font-color;
      }
    }

    .copyright {
      font-size: 16px;
      color: mix.$font-color;
    }
  }

  @include mix.responsive(T) {
    padding: calc(mix.vw-md(const.$margin-md) / 2) mix.vw-md(const.$margin-md);

    .btn-shop {
      margin-top: mix.vw-md(240px);
      font-size: mix.vw-md(180px);
      line-height: mix.vw-md(134px);

      i {
        width: mix.vw-md(120px);

        svg {
          stroke-width: 2px;
        }
      }
    }

    &-content {
      @include mix.flexbox(between);
      margin-top: mix.vw-md(200px);
    }

    .fnb {
      flex-wrap: nowrap;
      gap: 0 mix.vw-md(95px);
      margin: 0;

      ul li {
        margin-top: mix.vw-md(8px);
        font-size: 0;

        a {
          position: relative;
          display: inline-block;
          font-size: mix.vw-md(14px);
          line-height: mix.vw-md(16px);

          &::after {
            display: block;
            width: 100%;
            height: 1px;
            content: '';
            background-color: mix.$font-color;
            transition: transform 0.4s ease-in-out;
            transform: scaleX(0);
            transform-origin: 100% center;
          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: 0 center;
          }
        }
      }
    }

    .contact {
      margin: 0;

      .txt {
        font-size: mix.vw-md(12px);
      }

      .number {
        padding: 0 mix.vw-md(20px);
        margin-top: mix.vw-md(8px);
        font-size: mix.vw-md(28px);
        line-height: mix.vw-md(42px);
        letter-spacing: -0.03em;
      }
    }

    .info {
      @include mix.column-flexbox(start, start);
      gap: mix.vw-md(10px) 0;
      order: -2;
      padding-right: mix.vw-md(140px);
      margin: 0;

      .logo {
        width: mix.vw-md(150px);
      }

      .copyright {
        font-size: mix.vw-md(14px);
      }
    }
  }
}
