.header {
  @include flexbox(end);
  padding: calc($margin-sm / 2) $margin-sm;

  .logo {
    margin-right: auto;

    a {
      display: block;
      width: 145px;
    }

    svg {
      fill: $font-color;
    }
  }

  .btn-cart {
    margin-right: 20px;

    a {
      display: block;
      width: 110px;
      height: 60px;
      font-size: 16px;
      line-height: 60px;
      color: $font-color;
      text-align: center;
      letter-spacing: 0.03em;
      border: 2px solid $border-color;
      border-radius: 30px;
    }
  }

  .btn-gnb {
    svg {
      width: 100%;
      height: auto;
      stroke: $border-color;
    }
  }

  .mo-gnb-wrap {
    @include flexbox(start);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $gnb-level;
    width: 100%;
    height: 100vh;
    background-color: $yellow;
    background-image: linear-gradient(315deg, $orange 8.31%, $yellow 88.22%);
    opacity: 0;
    transition: 0.4s ease-in-out;
    transform: translate3d(100%, 0, 0);

    &.is-open {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .btn-gnb-close {
      position: absolute;
      top: $margin-sm;
      right: $margin-sm;
      width: 60px;
    }

    .mo-gnb {
      padding-left: $margin-sm;

      li {
        margin-top: 8px;

        &:first-child {
          margin-top: 0;
        }

        &.is-active a {
          color: $black;
        }
      }

      a {
        font-family: $font-bold;
        font-size: 86px;
        color: $white;
      }
    }
  }

  @include responsive(T) {
    @include flexbox(between);
    padding: calc(vw-md($margin-md) / 2) vw-md($margin-md);

    .logo {
      margin-right: 0;
    }

    .gnb {
      ul {
        @include flexbox;
        border: 2px solid $border-color;
        border-radius: 10px;
      }

      li {
        padding: 0 40px;
      }

      a {
        position: relative;
        display: block;
        height: 52px;
        font-size: 21px;
        line-height: 52px;
        color: $font-color;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          content: '';
          background: $border-color;
          transition: height 0.2s ease-in-out;
        }

        &:hover::after {
          height: 4px;
        }
      }
    }

    .btn-cart {
      a {
        height: 52px;
        font-size: 20px;
        line-height: 52px;
        border-radius: 26px;
      }
    }
  }
}
