@use './../utilities/constants' as const;

.screen-out {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

.sm-only {
  @media screen and (min-width: const.$md-breakpoint) {
    display: none !important;
  }
}

.md-only {
  @media screen and (max-width: (const.$md-breakpoint - 1)) {
    display: none !important;
  }

  @media screen and (min-width: const.$lg-breakpoint) {
    display: none !important;
  }
}

.lg-only {
  @media screen and (max-width: (const.$lg-breakpoint - 1)) {
    display: none !important;
  }
}

.sm-hidden {
  @media screen and (max-width: (const.$md-breakpoint - 1)) {
    display: none !important;
  }
}

.md-hidden {
  @media screen and (min-width: const.$md-breakpoint) and (max-width: (const.$lg-breakpoint - 1)) {
    display: none !important;
  }
}

.lg-hidden {
  @media screen and (min-width: const.$lg-breakpoint) {
    display: none !important;
  }
}
